<div class="col-md-2">
  <h1>Please login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div formGroupName="loginInfo">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username">
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error">
          Username is required!
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
          Password is require!
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary col-md-12" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>
